node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Lerna
lerna-debug.log

# Build directories
.cache
.build
dist
dist-aws
.idea
.vscode
cdk.context.json
.env.dev
.env
!amp.d.ts
package.zip
/.cdk.staging/
/.parcel-cache/
yarn-error.log
