*.js
!jest.config.js
!.eslintrc.js
!webpack.config.js
!.prettierrc.js
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel build directories
.cache
.build
dist
dist-web
.idea
.vscode
cdk.context.json
.env.dev
.env
!amp.d.ts
package.zip
/.cdk.staging/
/.parcel-cache/
yarn-error.log